<nav class="navbar navbar-expand-lg navbar-light bg-light" style=" display: flex; margin: 0px; border-bottom: 2px solid #3E2F51; color: #3E2F51;">
  <div class="navbar-logo-box" style="display: flex; width: 200px; height: 40px; margin: auto 10px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;">
    <img class="navbar-logo-img" src="../public/images/dragon.png" alt="dragon" width="40px"/>
    <div class="navbar-logo-label" style="display: inline-block; margin: auto 0;"><strong>SAMIYOUNGDU</strong></div>
  </div>
    <!-- <a class="navbar-brand" href="#">SAMIYONDU</a> -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="list-style:none; padding:10px; width: 700px; display: flex; justify-content: space-between;">
        <li class="nav-item active">
          <a class="nav-link" href="/" style="color: #3E2F51; text-decoration: none; margin-left: 150px;"><strong>Home</strong>
            <!-- <span class="sr-only">(current)</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.kw.ac.kr/ko/" target="_blank" style="color: #3E2F51; text-decoration: none;"><strong>광운대학교</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.hyundai-transys.com/ko/main.do" target="_blank" style="color: #3E2F51; text-decoration: none;"><strong>현대 트랜시스</strong></a>
        </li>
      </ul>
    </div>
 </nav>